.grocery__title{
  @include font ($size: 24px, $weight: 700);
  color: $color-text-dark;
  margin-top: 0;
  margin-bottom: 26px;
  @media (max-width: $mobile) {
    font-size: 20px;
    margin-bottom: 8px;
  }
}

.grocery__wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  // @include flex($align: flex-start, $content: flex-start);
  gap: 24px;

  @media (max-width: $desktop-mini) {
    gap: 50px;
  }
  @media (max-width: $tablet) {
    gap: 35px;
  }
  @media (max-width: $mobile) {
    gap: 12px;
  }
}

.grocery__section-title {
  @include font ($size: 20px, $weight: 500);
  color: $color-text-dark;
  margin-top: 0;
  @media (max-width: $mobile) {
    margin-bottom: 16px;
    font-size: 18px;
  }
}

.grocery__list {
  @include flex($wrap: nowrap);
  overflow-x: scroll;
  scroll-behavior: unset;
  scrollbar-width: 0;
  gap: 12px;
  margin-bottom: 45px;
  &::-webkit-scrollbar { 
    width: 0;
  }
  @media (max-width: $mobile) {
    margin-bottom: 10px;
  }
}

.grocery__label {
  border-radius: 24px;
  padding: 10px 20px 10px 52px;
  background-color: $color-background-label;
  white-space: nowrap;
  background-position: center left 20px;
  background-repeat: no-repeat;
  @media (max-width: $mobile) {
    padding: 4px 12px 4px 36px;
    background-size: 15px;
    background-position: center left 15px;
  }
  
  &:hover{
    background-color: $color-light;
    box-shadow: $shadow-label;
  }
  
  &:active {
    background-color: $color-light;
  }
  
  a {
    @include flex;
    font-family: 'Manrope';
    @include font ($size: 16px, $weight: 500);
    color: $color-text-dark;
    vertical-align: middle;
    @media (max-width: $mobile) {
      font-size: 12px;
    }
  }

  &--popular {
    background-image: url('/assets/img/icons/labels/grocery-label-popular.png');
  }

  &--snacks {
    background-image: url('/assets/img/icons/labels/grocery-label-snacks.png');
  }

  &--salads {
    background-image: url('/assets/img/icons/labels/grocery-label-salads.png');
  }

  &--first {
    background-image: url('/assets/img/icons/labels/grocery-label-first.png');
  }

  &--garnish {
    background-image: url('/assets/img/icons/labels/grocery-label-garnish.png');
  }
  
  &--second {
    background-image: url('/assets/img/icons/labels/grocery-label-second.png');
  }
  &--else {
    &::after {
      @include element($display:inline-block, $width: 16px);
      margin-left: 8px;
      @include background;
      background-image: url('/assets/img/icons/arrow-ico.svg');
    }
  }
}