// Colors

$color-primary: #FD6342;
$color-primary-hover: #F84C27;
$color-primary-active: #FF967F;
$color-light: #ffffff;
$color-disabled: #D9D9D9;
$color-primary-background: #FFF4F3;
$color-basic-background: #F5F5F6;
$color-background-location: #F8F8F8;
$color-background-label: #FBFBFB;
$color-background-label-hover:#EEEEEE;
$color-tag-healthy: #848857;
$color-tag-discount: #E0A110;
$color-tag-season: #576987;
$color-tag-new: #971B40;
$color-text-dark: #2E1B0E;
$color-text-light: #928F87;


//Shodows

$shadow-footer: -2px -4px 10px rgba(130, 130, 130, 0.05);
$shadow-header: 2px 4px 10px rgba(130, 130, 130, 0.05);
$shadow-button: 2px 2px 10px rgba(255, 106, 106, 0.45);
$shadow-label: 2px 2px 10px rgba(99, 99, 99, 0.1);
$shadow-popup: -1px 2px 23px rgba(0, 0, 0, 0.12);

// Width

$mobile: 360px;
$tablet: 768px;
$desktop-mini: 1024px;
$desktop: 1280px;