// Colors

$color-primary: #FD6342;
$color-primariy-background: #FFF4F3;
$color-basic-background: #F5F5F6;

$color-tag-healthy: #848857;
$color-tag-discount: #E0A110;
$color-tag-season: #576987;
$color-tag-new: #971B40;

$color-text-dark: #2E1B0E;
$color-text-light: #928F87;
